$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #6122cc;
$background-pale: #D1C4E9;
$background-moredark: #6664f7;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px,30px);
    background: $background-light ;
    color:floralwhite;
    min-height: 150px;
}

.active{
    background: $background-moredark;
}

.icon-bar{
    width: 30%; /* Full-width */
    background-color: primary; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
    align-content: center;
}