<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
     <mat-grid-list cols="3" rowHeight="250px" gutterSize="80px" >
      <div *ngIf="n===0">
        no data found
      </div>
      <mat-grid-tile *ngFor="let dish of dishes">
          <mat-card class="example-card" class="menu" [routerLink]="['/dishdetail', dish.id]">
            <mat-card-header>
              <mat-card-title>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <table cellspacing="10" class="menu1">
                <tr>
                  <td>
                    <img aling="left" height="200px" src={{dish.image_link}} alt={{dish.name}}>
                  </td>
                  <td>
                    <table cellspacing="10">
                      <tr>
                        Type: {{dish.type}}
                      </tr>
                      <tr>
                        cuisine: {{dish.cuisine}}
                      </tr>
                      <tr>
                        Price: {{dish.price}}
                      </tr>
                      <tr>
                        Rating: {{dish.rating}}
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </mat-card-content>
          </mat-card>
          <mat-grid-tile-footer [style.background]="'#6664f7'">
            <h1>{{dish.name | uppercase}}</h1>
          </mat-grid-tile-footer>
      </mat-grid-tile> 
    </mat-grid-list> 
</div>



